body {
    width: 800px;
    margin: 40px auto;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, ul {
    margin-bottom: 1.2rem;
}

p {
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    text-decoration: underline;
}

img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main-list  li {
    width: 50%;
    
}
.text-indent {
    font-weight: bold;
    text-indent: 15px;
}

.underline {
    text-decoration: underline;
}