body {
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, ul {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    text-decoration: underline;
}

a:hover {
    color: brown;
}
img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

main ul {
    width: 50%;
}

main li {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.experience-list li {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
}

.text-indent {
    font-weight: bold;
    text-indent: 1rem;
}

.underline {
    text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 780px) {
    main ul {
        width: 90%;
    }
}