.underline {
    text-decoration: underline;
}

.name {
    text-align: center;
    font-size: 36px;
}

.section-text {
    line-height: 1.5;
}

.section-title {
    font-size: 26px;
    text-decoration: underline;
}

.text-indent {
    text-indent: 1em;
    font-weight: 700;
    margin-bottom: 30px;
}
